
* {
    margin: 0;
}

body {
    max-width: 1440px;
}

.container {
    width: 992px;
    margin: auto;
    margin-top: 64px;
}

a {
    color: #0068FF;
    text-decoration: none;
}

header {
    width: 680px;
}

h1 {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    margin-bottom: 20px;

}

p {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;

}

.north-pic {
    margin: 48px 0 10px 0;
}

.north-txt {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0 0 48px 0;
}

.num-block {
    margin: 20px 0 64px 0;
}

.num-txt {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

li {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.block-1 {
    width: 992px;
}

.block-txt {
    width: 680px;
}

.wb-txt {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    margin-bottom: 20px;
}

.wb-link {
    float: right;
    width: 246px;
    height: 82px;
}

.links {
    width: 680px;
    margin-top: 60px;

}

.links-txt-h2 {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-bottom: 20px;
    float: left;
}

.look-img {

}

.links-txt {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding-bottom: 20px;
}

.links-img {
    float: right;
}

.block-2 {
    width: 680px;
    margin-top: 60px;
}

.feedback {
    width: 680px;
}

.man {
}

.block-3 {
    width: 680px;
}