
* {
    margin: 0;
}

/* Сайт */
body {
    max-width: 1440px;
}

.container {
    width: 992px;
    margin: auto;
    margin-top: 64px;
}

a {
    color: #0068FF;
    text-decoration: none;
}


/* Шапка */
header {
    width: 680px;
}

h1 {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    margin-bottom: 20px;

}

p {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;

}

.north-pic {
    margin: 48px 0 10px 0;
}

.header-txt-2 {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0 0 48px 0;
}

.num-block {
    margin: 20px 0 64px 0;
}

.num-txt {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

li {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}


/* Блок-1 */
.block-1 {
    width: 992px;
    display: flex;
}

.block-txt {
    width: 680px;
}

.wb-txt {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    margin-bottom: 20px;
}

.wb-link {
    float: right;
    width: 246px;
    height: 82px;
    margin: 166px 0 0 111px;
}


/* Сылки */
.links-block {
    width: 680px;
    margin-top: 60px;
    border: 1px solid #00000026;
    padding: 25px;
}

.block-links-2 {
    
}

.row-link {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 8px 0;
}

.links-txt-h2 {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-bottom: 20px;
    float: left;
}

.look-img {
    margin: -25px 0 0 25px;
}

.links-txt {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.links-img {
    float: right;
}

hr {
    border: 1px solid #00000026;
}


/* Блок-2 */
.block-2 {
    width: 680px;
    margin-top: 60px;
}


/* Обратная связь */
.feedback {
    width: 680px;
}

.man {
}


/* Блок-3 */
.block-3 {
    width: 680px;
}